img {
    width:  100px;
    height: 100px;
}

div {
    display: inline-block;
    margin-right: 25px;
}

#catDisplay {
    height: 200px;
    width: 200px;
}

label {
display:inline-block;
width:100px;
margin-right:30px;
text-align:right;
}